<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= book.autor %>
  </p>

  <p>
    <strong>Lending:</strong>
    <%= book.lending %>
  </p>

  <p>
    <strong>Return:</strong>
    <%= book.return %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= book.category %>
  </p>

</div>
